acres==0.3.0
aiohappyeyeballs==2.4.8
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.6.2.post1
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==25.1.0
axios==0.4.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==1.2.0
Brotli==1.1.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.21.0
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
cryptography==43.0.3
cssselect2==0.8.0
cymem==2.0.11
dateparser==1.2.1
DateTime==5.5
defusedxml==0.7.1
distro==1.9.0
docx2txt==0.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry==0.3.1
filelock==3.17.0
Flask==3.0.3
Flask-Cors==5.0.0
fonttools==4.56.0
frozenlist==1.5.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
jwt==1.3.1
langcodes==3.5.0
language_data==1.3.0
looseversion==1.3.0
lxml==5.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.1.0
murmurhash==1.0.12
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
nodeenv==1.9.1
numpy==2.2.3
openai==1.59.6
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==11.1.0
preshed==3.0.9
priority==2.0.0
prisma==0.15.0
propcache==0.3.0
proto-plus==1.25.0
protobuf==5.29.3
prov==2.0.1
puremagic==1.28
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydot==3.0.4
pydyf==0.11.0
Pygments==2.18.0
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
PyJWT==2.10.1
PyMuPDF==1.25.3
pyparsing==3.2.1
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
PySocks==1.7.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
pyxnat==1.6.3
PyYAML==6.0.2
qrcode==8.0
rdflib==6.3.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
rich==13.9.4
rsa==4.9
scipy==1.15.2
selenium==4.28.1
setuptools==75.8.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
svglib==1.5.1
thinc==8.3.4
tinycss2==1.4.0
tinyhtml5==2.0.0
tomlkit==0.13.2
tqdm==4.67.1
traits==7.0.2
trio==0.29.0
trio-websocket==0.12.2
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
weasyprint==64.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
wrapt==1.17.2
wsproto==1.2.0
xhtml2pdf==0.2.17
yarl==1.18.3
zope.interface==7.1.1
zopfli==0.2.3.post1
